numpy
pandas
scipy
scikit-learn
matplotlib
jaxlib
jax
optax
dm-haiku
jraph
torch
tensorflow_probability
tqdm
optuna
pyyaml
category_encoders
netZooPy @ git+https://github.com/Habush/netZooPy.git
horsehoe_bnn @ git+https://github.com/Habush/horsehoe_bnn.git
